body {
    padding-top: 56px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.user-info .user-icon {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/user.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.user-info .username {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.btn-logout {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-logout:hover {
    background-color: #5a6268;
}

.icon-logout {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/logout-rounded.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

