html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa;
}


.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;
}

.user-info .user-icon {
    background-image: url('https://img.icons8.com/ios-filled/50/000000/user.png');
    background-size: contain;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}

.user-info .username {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.btn-logout {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-logout:hover {
    background-color: #5a6268;
}

.icon-logout {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/logout-rounded.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.btn-delete {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-delete:hover {
    background-color: #c9302c;
}

.icon-delete {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/delete-forever.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.btn-edit {
    background-color: #0275d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-edit:hover {
    background-color: #025aa5;
}

.icon-edit {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/edit.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.btn-create {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-create:hover {
    background-color: #449d44;
}

.icon-create {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/box.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}


.pagination {
    margin-top: 20px;
}

.pagination .btn {
    margin: 0 5px;
}

.pagination .current {
    font-weight: bold;
}


.btn-search {
    background-color: #20b2aa; /* Color aguamarina */
    border: none;
    border-radius: 50%; /* Hacerlo redondo */
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.icon-search::before {
    content: "\1F50D"; /* Unicode para una lupa */
    font-size: 16px;
}


.btn-search .icon-search {
    margin-right: 5px;
    font-size: 16px;
}

#search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#search-form select,
#search-form input {
    margin-right: 10px;
}

#search-form button {
    margin-top: 0;
    margin-left: auto;
}

.form-control.rounded {
    border-radius: 50px;
}

.form-control.rounded-right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-aquamarine {
    background-color: #00c4cc;
    color: white;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    width: auto; /* Cambiado de 40px a auto */
    padding: 0 15px; /* Añadido padding horizontal */
}

.btn-aquamarine .icon-search {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.btn-aquamarine:hover {
    background-color: #009ea7;
}

.search-container {
    max-width: 50%;
    margin-left: 0;
}

.search-group {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.search-group select,
.search-group input,
.search-group button {
    border: none;
    height: 40px;
}

.search-group select {
    max-width: 30%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-group input {
    border-radius: 0;
}

.btn-view {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-view:hover {
    background-color: #138496;
}

.icon-view {
    background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/visible.png');
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #f8f9fa;
    color: #333;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #e2e6ea;
}

.icon-arrow-left {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-rounded {
    border-radius: 50px;
    padding: 10px 20px;
}

.btn-morado {
    background-color: #6a0dad; 
    color: white;
}

.btn-morado:hover {
    background-color: #5c0fa8; 
    
}

.filter-container {
    display: flex;
    align-items: center;
}

.filter-container form {
    display: flex;
    align-items: center;
}

.filter-container label {
    margin-right: 10px;
}

.filter-container select {
    margin-right: 10px;
}

.filter-container button {
    margin-left: 10px;
}


.button-container {
    display: flex;
    align-items: center;
}

.button-container .btn,
.button-container .btn-create,
.button-container .btn-morado {
    margin-left: 7px;
}

.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 15px;
}