<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Restablecida</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2><i class="material-icons">check_circle</i> Contraseña Restablecida</h2>
        <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
    </div>
</body>
</html>
