<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2><i class="material-icons">mail</i> Correo Enviado</h2>
        <p>Revisa tu correo electrónico para encontrar el enlace para restablecer tu contraseña.</p>
    </div>
</body>
</html>
