{% extends 'base.html' %}

{% block content %}
<h2>Generar Reportes</h2>

{% if lista_objetos %}
    <table>
        <thead>
            <tr>
                {% for field_name, value in lista_objetos.0 %}
                    <th>{{ field_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for obj in lista_objetos %}
            <tr>
                {% for field_name, value in obj %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay datos para mostrar.</p>
{% endif %}
{% endblock %}
