{% extends 'base.html' %}

{% block title %}Lista de Paquetes{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Lista de Paquetes</h1>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre del Paquete</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for paquete in paquetes %}
                <tr>
                    <td>{{ paquete.id_paquete }}</td>
                    <td><a href="{% url 'paquete_detail' paquete.pk %}">{{ paquete.nombre_paquete }}</a></td>
                    <td>{{ paquete.descripcion }}</td>
                    <td>{{ paquete.precio }}</td>
                    <td>
                        <a href="{% url 'paquete_edit' paquete.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'paquete_new' %}" class="btn btn-success mt-4">Crear nuevo paquete</a>
</div>
{% endblock %}
